<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">ログイン</h1>
        <%= form_for :session, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.text_field:email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <%= f.submit "ログイン",class: "btn btn-block btn-primary" %>
        <% end %>
        <p>※ポートフォリオ閲覧用です</p>
        <%= form_for :session, url: login_path do |f| %>
          <%= f.hidden_field :email, {value: 'test@test.jp'} %>
          <%= f.hidden_field :password, {value: 'test1234'} %>
          <%= f.submit "テストユーザーとしてログイン", class: "btn btn-block btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
