<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">新規登録</h1>
        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :name, '名前 ※必須  15文字以内' %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email, "メールアドレス ※必須" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :image, "プロフィール画像  ※任意" %>
            <%= f.file_field :image %>
          </div>
          <div class="form-group">
            <%= f.label :password, "パスワード ※必須  8~32文字で英数字" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <%= f.submit "登録",class: "btn btn-block btn-success" %>
        <% end %>

        <div class="text-center"><h4>or</h4></div>

        <div class="top-login text-center twitter-login">
          <%= link_to " Twitterアカウントでログイン", '/auth/twitter', class: "btn fab fa-twitter btn-primary" %>
        </div>

      </div>
    </div>
  </div>
</div>
