<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 user-contents-container text-center">
        <h2><%= @user.name %></h2>
        <p class="introduction"><%= @user.introduction %></p>
        <div class="user-image">
          <%= image_tag @user.image.to_s %>
        </div>
        <% if current_user.id == @user.id %>
          <%= link_to "プロフィール編集", edit_user_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="col-md-offset-4 col-md-4">
    <h2>[<%= @user.name %>さんの投稿]</h2>
  </div>
  <div class="posts-container">
    <div class="row">
      <% @user_posts .each do |post| %>
        <div class="col-md-offset-4 col-md-4 post-list-container text-left mt-4">
          <div class="post-list-card">
            <div class="post-user-image">
              <%= image_tag post.user.image.to_s %>
            </div>
            <div class="post-user-name">
              <p><%= link_to "@"+"#{post.user.name}",user_path(post.user.id) %></p>
            </div>
            <p class="post-info">
              <%= post.user.created_at.strftime("%Y-%m-%d %H:%M") %>
            </p>
            <p class="post-title">
              品名：<%= post.title %>
            </p>
            <p class="post-title">
              住所：<%= post.prefecture.name if post.prefecture_id? %>
              <%= post.city %>
            </p>
            <p class="post-body">
              <%= post.description %>
            </p>
            <h4>評価：<%= post.rate %>点</h4>

            <!--星評価-->
            <div class="post-star" id="star-rate-<%= post.id %>"></div>
            <script>
            $('#star-rate-<%= post.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= post.rate %>,
            });
            </script>
            <!--星評価-->

            <div class="post-img">
              <%= image_tag post.image.to_s %>
            </div>

            <div class="text-center post-map">
              <%= link_to post_map_path(post_id: post.id), method: :post do %>
                <button class="btn btn-primary">周辺地図を表示</button>
              <% end %>
            </div>

            <!-- 編集機能 -->
            <div class="text-right">
              <% if current_user.id == post.user_id %>
              <%= link_to "削除", post_path(post.id) ,method: :delete,
              data: {confirm: '本当に削除してもよろしいですか？'} %>
              <%= link_to "編集", edit_post_path(post.id),
              data: {confirm: '本当に編集してもよろしいですか？'} %>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
    <div class="paginate text-center">
      <%= paginate @user_posts %>
    </div>
  </div>
</div>
