<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 user-contents-container text-center">
        <h2><%= @user.name %></h2>
        <p class="introduction"><%= @user.introduction %></p>
        <div class="user-image">
          <%= image_tag @user.image.to_s %>
        </div>
        <% if current_user.id == @user.id %>
          <%= link_to "編集", edit_user_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<h1><%= @user.name %>さんの投稿</h1>
<div class="wrapper">
  <div class="posts-container">
    <div class="row">
      <% @users_post .each do |post| %>
        <div class="col-md-offset-4 col-md-4 post-list-container text-left mt-4">
          <div class="post-list-card">
            <div class="post-user-image">
              <%= image_tag post.user.image.to_s %>
            </div>
            <div class="post-user-name">
              <p><%= link_to "@"+"#{post.user.name}",user_path(post.user.id) %></p>
            </div>
            <p class="post-info">
              <%= post.user.created_at.strftime("%Y-%m-%d %H:%M") %>
            </p>
            <p class="post-title">
              <%= post.title %>
            </p>
            <p class="post-body">
              <%= post.description %>
            </p>
            <div class="post-img">
              <%= image_tag post.image.to_s %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
