<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 user-contents-container text-center">
        <h2><%= @user.name %></h2>
        <p class="introduction"><%= @user.introduction %></p>
        <div class="user-image">
          <%= image_tag @user.image.to_s %>
        </div>
        <% if current_user.id == @user.id %>
          <%= link_to "編集", edit_user_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="col-md-offset-4 col-md-4">
  <h2>[<%= @user.name %>さんの投稿]</h2>
</div>
<div class="wrapper">
  <div class="posts-container">
    <div class="row">
      <% @user_posts .each do |post| %>
        <div class="col-md-offset-4 col-md-4 post-list-container text-left mt-4">
          <div class="post-list-card">
            <div class="post-user-image">
              <%= image_tag post.user.image.to_s %>
            </div>
            <div class="post-user-name">
              <p><%= link_to "@"+"#{post.user.name}",user_path(post.user.id) %></p>
            </div>
            <p class="post-info">
              <%= post.user.created_at.strftime("%Y-%m-%d %H:%M") %>
            </p>
            <p class="post-title">
              <%= post.title %>
            </p>
            <p class="post-title">
            [県名] <%= post.prefecture.name if post.prefecture_id? %>
            </p>
            <p class="post-body">
              <%= post.description %>
            </p>
            <div class="post-img">
              <%= image_tag post.image.to_s %>
            </div>
            <% if current_user.id == post.user_id %>
            <%= link_to "投稿を削除", post_path(post.id) ,method: :delete,
            data: {confirm: '本当に削除してもよろしいですか？'} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="paginate text-center">
      <%= paginate @user_posts %>
    </div>
  </div>
</div>
