<div class="wrapper">
  <div class="posts-container">

    <!-- 県名検索機能 -->
    <div class="search text-center">
      <%= form_with url:'/posts', method: :get, local: true do |f| %>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
        <%= f.submit "県名で検索する" %>
      <% end %>
      <% if params[:prefecture_id] != nil && @posts != nil %>
        <h4>【<%= @name %>】の検索結果を表示中です</h4>

      <% elsif @posts == nil %>
        <p>お探しの県は、1件も投稿がありません</p>
      <% else %>
        <p>県名で検索してください</p>
      <% end %>
      <p><% @count %>件</p>
    </div>

    <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-offset-4 col-md-4 post-list-container text-left mt-4">
        <div class="post-list-card">
          <div class="post-user-image">
            <%= image_tag post.user.image.to_s %>
          </div>
          <div class="post-user-name">
            <p><%= link_to "@"+"#{post.user.name}",user_path(post.user.id) %></p>
          </div>
          <p class="post-info">
            <%= post.user.created_at.strftime("%Y-%m-%d %H:%M") %>
          </p>
          <p class="post-title">
            [品名]
            <%= post.title %>
          </p>
          <p class="post-title">
            [県名]
            <%= post.prefecture.name if post.prefecture_id? %>
          </p>
          <p class="post-body">
            [感想]
            <%= post.description %>
          </p>
          <div class="post-img">
            <%= image_tag post.image.to_s %>
          </div>
          <% if current_user %>
            <% if !post.like_users.include?(current_user) %>
              <div class="like">
                <%= link_to post_like_path(post_id: post.id),method: :post do %>
                <span class="fa fa-heart like-btn"></span>
                <%= post.like_users.length %>
              <% end %>
            </div>
          <% else %>
            <div class="unlike">
              <%= link_to post_like_path(post_id: post.id),method: :delete do %>
              <span class="fa fa-heart like-btn-unlike"></span>
              <%= post.like_users.length %>
            <% end %>
          </div>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <div class="paginate text-center">



    </div>
  </div>
</div>
