<div class="wrapper">
  <div class="posts-container">

    <!-- 県名検索機能 -->
    <div class="search text-center">
      <%= form_with url:'/posts', method: :get, local: true do |f| %>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
        <%= f.submit "県名で検索する" %>
      <% end %>
      <% if params[:prefecture_id] != nil && @posts != nil %>
        <h4>【<%= @name %>】の検索結果を表示中です</h4>
        <h4>検索結果:  <%= @posts_count %>件</h4>
      <% else %>
        <p>県名で検索してください</p>
      <% end %>
    </div>
    <!-- /県名検索機能 -->

    <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-offset-4 col-md-4 post-list-container text-left mt-4">
        <div class="post-list-card">
          <div class="post-user-image">
            <%= image_tag post.user.image.to_s %>
          </div>
          <div class="post-user-name">
            <p><%= link_to "@"+"#{post.user.name}",user_path(post.user.id) %></p>
          </div>
          <p class="post-info">
            <%= post.user.created_at.strftime("%Y-%m-%d %H:%M") %>
          </p>
          <p class="post-title">
            店名：<%= post.store %>
          </p>
          <p class="post-title">
            品名：<%= post.title %>
          </p>
          <p class="post-title">
            住所：<%= post.prefecture.name if post.prefecture_id? %>
            <%= post.city %>
          </p>
          <p class="post-body">
            感想：<%= post.description %>
          </p>
          <h4>評価：<%= post.rate %>点</h4>

          <!-- 星評価 -->
          <div class="post-star" id="star-rate-<%= post.id %>"></div>
          <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>
          <!-- /星評価 -->

          <div class="post-img">
            <%= image_tag post.image.to_s %>
          </div>

           <!--  いいね機能 -->
           <div id="likes_buttons_<%= post.id %>">
              <%= render partial: 'likes/like', locals: { post: post, user: current_user } %>
           </div>
          <!--  /いいね機能 -->

          <div class="text-center">
            <%= link_to post_map_path(post_id: post.id), method: :post do %>
              <button class="btn btn-primary">周辺地図を表示</button>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
    </div>
    <div class="paginate text-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>
