<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 posts-new-container">
        <h1 class="text-center text-white">新規投稿</h1>
        <h3></h3>
        <%= form_for @post do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
            <%= f.label :"料理名" %>
            <%= f.text_field:title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :"感想" %>
            <%= f.text_area :description, class:"form-control", rows:"3" %>
          </div>
          <div class="form-group">
          <%= f.label :"住所(県名)" %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
          </div>
          <div class="form-group">
          <%= f.label :"住所(市町村以下)" %>
          <%= f.text_field:city, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :"画像" %>
            <%= f.file_field :image %>
          </div>

          <!-- 星評価表示 -->
          <div class="form-group row" id="star">
            <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
            <%= f.hidden_field :rate, id: :review_star %>
          </div>

          <!-- 星評価javascript -->
          <script>
          $('#star').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'post[rate]',
            half: true,
          });
          </script>

          <div class="form-group">
            <%= f.submit "投稿", class: "btn btn-block btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
