<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 posts-new-container">
        <h1 class="text-center text-white">新規投稿</h1>
        <%= form_for @post do |f| %>
          <div class="form-group">
            <%= f.label :"タイトル" %>
            <%= f.text_field:title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :"本文" %>
            <%= f.text_field :description, class: "form-control" %>
          </div>
          <div class="form-group">
          <%= f.label :"県名" %>
          <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
          </div>
          <div class="form-group">
            <%= f.label :"画像" %>
            <%= f.file_field :image %>
          </div>
          <div class="form-group">
            <%= f.submit "投稿", class: "btn btn-block btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
